/* #po-cart min-height is implicit */

#po-size-selector {
  margin: 0 1em 0 0;
  width: 67%;
}

#po-sizes {
  width: 100%;
}

#po-quantity-selector {
  width: 33%;
}

#po-quantity {
  width: 100%;
}

#checkout {
  margin: 1em 0 0 0;
}