#po-image-gallery {
  width: 67%;
  height: 36em;
  overflow: hidden;
}

#po-image-gallery.expanded {
  width: 100%;
}

#image-gallery-collapsed-view, #image-gallery-expanded-view, #image-gallery-zoomed-view {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

#image-gallery-collapsed-view .row, #image-gallery-expanded-view .row, #image-gallery-zoomed-view .row {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#image-gallery-collapsed-view .column, #image-gallery-expanded-view .column, #image-gallery-zoomed-view .column {
  width: 100%;
  position: relative;
}

#po-main-image {
  position: absolute;
  text-align: center;
  top: 0;
  height: 36em;
}

/* #po-main-image img {
  top: 0;
  height: 36em;
  background-color: blanchedalmond;
  z-index: 1;
} */

#po-image {
  top: 0;
  height: 36em;
  background-color: blanchedalmond;
  z-index: 1;
}

#image-gallery-collapsed-view #po-main-image img:hover {
  cursor: zoom-in;
}

#image-gallery-expanded-view #po-main-image img:hover {
  cursor: crosshair;
}

#image-gallery-zoomed-view #po-main-image .img-zoom-lens:hover  {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="30" style="font-size: 20px; font-weight: bold;"><text y="15">-</text></svg>'), auto;
}

.image-gallery-expanded-view-toggle, .image-gallery-collapsed-view-toggle {
  width: 1em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 1.5em;
}

.image-gallery-expanded-view-toggle:hover, .image-gallery-collapsed-view-toggle:hover {
  cursor: pointer;
}

.image-gallery-expanded-view-toggle svg {
  stroke: white;
  stroke-width: 0.03em;
}

.image-gallery-collapsed-view-toggle svg {
  stroke: white;
  stroke-width: 1em;
}

/* collapsed view */
.default-view .row {
  padding: 5em;
}

.image-gallery-collapsed-view {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 19;
}

.image-gallery-collapsed-view:hover {
  cursor: zoom-in;
}

/* expanded view */
.image-gallery-expanded-view {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}

.image-gallery-expanded-view:hover {
  cursor: zoom-in;
}

/* zoomed view */
.image-gallery-zoomed-view:hover {
  cursor: zoom-out;
}

/* overrides of shared component styles */
.image-nagivator {
  margin: 1.5em;
}

.scrolling-arrows {
  margin: 0 1.5em 0 0;
}