/* General */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: .5em;
  color: #444;
  margin: 0;
  padding: .5em;
  /* font-size: .8em; */
}

.background-dark {
  color:rgb(200, 200, 200);
  background-color: rgb(25, 25, 25);
}

#app {
  display: flex;
  flex-flow: column;
}

/* layout */
.row {
  display: flex;
  flex-flow: row;
  padding: 1em, 0, 1em, 0;
}

.row-margin {
  margin: 1em 0;
}

.column {
  display: flex;
  flex-flow: column;
}

/* HTML tags */
h1 {
  font-size: 2.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
  user-select: none;
}

h2, .h2 {
  font-size: 1em;
  display: inline;
  font-weight: 400;
  text-transform: uppercase;
  user-select: none;
  flex-flow: row;
}

a {
  font-size: 0.6em;
  margin: 0 1em;
}


/* Formatting */
.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.no-select {
  user-select: none;
}

.link {
  font-size: .8em;
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.link:hover {
  text-decoration:none;
}

/* Form Elements */
select {
  font-size: 1em;
  padding: 1em;
  margin: 0.7em, 0.7em, 0.7em, 0em;
  display: inline;
  font-weight: bold;
  user-select: none;
  flex-flow: row;
  text-transform: uppercase;
  border: 1px solid black;
}

.button {
  font-size: 1em;
  padding: 1em;
  margin: 0.7em, 0.7em, 0.7em, 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  user-select: none;
  flex-flow: row;
  text-transform: uppercase;
  border: 1px solid #dd9944;
}

.button:hover {
  cursor: pointer;
  background-color: #dd9944;
}

.error-prompt {
  color: red;
  background-color: lightgoldenrodyellow;
  border: 1px red dashed;
}