.rr-rating-progress-bar:hover {
  cursor: pointer;
  background-color: yellow;
}

.rr-progress-bar.rr-meter {
  display: block;
  width: 75%;
  height: 20px;
}

.rr-progress-bar.rr-meter::-webkit-meter-bar {
  background: #CCCCCC;
}

.rr-progress-bar.rr-label:hover {
  cursor: pointer;
  color: #2a73fa;
}