.rating-progress-bar:hover {
  cursor: pointer;
  background-color: yellow;
}

.progress-bar.meter {
  display: block;
  width: 75%;
  height: 20px;
}

.progress-bar.meter::-webkit-meter-bar {
  background: #CCCCCC;
}

.progress-bar.label:hover {
  cursor: pointer;
  color: #2a73fa;
}