#rr-reviews-list {
  order: 2;
  flex-basis: 70%;
}

.rr-displayed-reviews {
  max-height: 75vh;
  overflow-y: auto;
}

.rr-review-buttons {
  display: flex;
  flex-direction: row;
}

.rr-more-reviews {
  margin-top: 0.5em;
}