#rr-review-tile {
  padding-top: 5%;
}

.rr-review {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.rr-user-stamp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rr-review-rating {
  justify-content: flex-start;
}

.rr-review-date {
  justify-content: flex-end;
}

.rr-reviewer-name {
  justify-content: flex-end;
}

.rr-review-summary{
  font-weight:bold;
}

.rr-review-response {
  background-color: lightslategrey;
}

.rr-tile {
  padding-top: 2%;
}

.rr-review-photos {
  display: flex;
  justify-content: left;
}

.rr-photos {
  padding-right: .5em;
}

.rr-photo {
  width: 5em;
  height: 5em;

 }