.scrolling-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.decrement:hover, .increment:hover {
  cursor: pointer;
}

.decrement, .increment {
  width: 1em;
  height: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

.decrement-no-stem {
  background-image: url(../../../assets/icons/left-arrow.svg);
}

.increment-no-stem {
  background-image: url(../../../assets/icons/right-arrow.svg);
}

.decrement-stem {
  background-image: url(../../../assets/icons/left-arrow-stem.svg);
}

.increment-stem {
  background-image: url(../../../assets/icons/right-arrow-stem.svg);
}