.star-rating {
  display: flex;
  flex-flow: row;
}

.star {
  width: 1em;
  height: 1em;
}

.clickable {
  cursor: pointer;
}

.star-0 {
  content: "\2606";
}

.star-25 {
  content: "\2BE8";
}

.star-50 {
  content: "\2BE8";
}

.star-75 {
  content: "\2BE8";
}

.star-100 {
  content: "\2605";
}