.image-navigator-component {
  z-index: 9;
  padding: 1.5em 1.5em 1.5em 1.5em;
  pointer-events: none;
}

.image-navigator-item {
  margin: 0 0 0.7em 0;
  width: 3em;
  pointer-events: auto;
}

.image-navigator-item:hover {
  cursor: pointer;
}

/* Arrows */
.image-navigator-align {
  display: flex;
  justify-content: center;
}

.image-navigator-control {
  height: 1em;
  width: 1em;
  stroke: white;
  stroke-width: 1em;
}

.image-navigator-control:hover {
  cursor: pointer;
  pointer-events: auto;
  fill: white;
  stroke: black;
}

/* Icon */
.image-navigator-item.image-navigator-icon-item {
  width: 1em;
}

.image-navigator-item svg.image-navigator-icon {
  background-color: seashell;
}

.image-navigator-item svg.image-navigator-icon:hover {
  width: 1.1em;
  background-color: yellow;
}

.image-navigator-item svg.selected {
  width: 1.1em;
  fill: white;
  background-color: black;
  border: 1px solid yellow;
}

.image-navigator-item svg.selected:hover {
  width: 1.1em;
  background-color: black;
}

/* Thumbnails & Placeholders */
.image-navigator-item img.image-navigator-thumbnail {
  border: 1px black solid;
  width: 3em;
}

img.image-navigator-thumbnail:hover,  div.image-navigator-placeholder:hover  {
  border: 1px white solid;
}

.image-navigator-item div.image-navigator-placeholder {
  height: 3em;
  background-color: white;
}

.image-navigator-thumbnail-selected {
  border: 1px black solid;
  height: 0.1em;
  margin: 0.2em 0 0 0;
  background-color:  black;;
  box-shadow: 0 0 0 0.03em white;
}