/* #po-style-selector min-height is implicit from #po-styles-list with placeholders */

#po-style-Selector {
  min-width: 20.9em;
}

.po-styles {
  padding: 0.7em 0;
}

.po-style {
  width: 4em;
  height: 4em;
  margin: 0.7em 0.7em 0.7em 0;
  position: relative;
}

.po-style:hover {
  cursor: pointer;
}

.po-style-selector-image {
  border: 1px black solid;
  border-radius: 50%;
  height: 4em;
  position: absolute;
  top: -0.75em;
  left: -0.1em
}

.po-style-selected {
  border: 1px black solid;
  border-radius: 50%;
  content: "\2713";
  width: 0.75em;
  height: 0.75em;
  padding: 0 0.77em 1.1em 0;
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
}