.question_table {
  table-layout: fixed;
  width: 100%;  
}

.answer_table{
  table-layout: fixed;
  width: 100%;  
}

td {
  vertical-align: top;
}

.character {
  font-weight: bold;
}
.answerby {
  margin: 5px;
  font-size: 14px;
}

#addquestion, #morequestions {
  height: 50px;
  margin: 8px;
  font-weight: 550 ; 
  display: inline-block; 
}

#addquestion {
  width: 200px
}
#morequestion {
  width: 250px
}

.helpfulness {
  text-align: right;
}
.inline {
  display: inline;
}
.warningtext {
  font-size: 10px;
}
  
.popup {
  position: fixed;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: rgb(199, 196, 196);
}

.search_bar {
  width: 80%;
  height: 30px;
}

.close {
  float: right;
  font-size: 20px;
  padding: 0.4em;
  color: black;
  text-decoration: none;
}

.answerslist {
  overflow: scroll;
  max-height:50%; 
}

.questionslist {
  overflow: scroll;
  max-height: 400px; 
}