.QA_question_table {
  table-layout: fixed;
  width: 100%;  
}

.QA_answer_table{
  table-layout: fixed;
  width: 100%;  
}

td {
  vertical-align: top;
}

.QA_character {
  font-weight: bold;
}
.QA_answer_by {
  margin: 5px;
  font-size: 14px;
}

.QA_add_question, .QA_more_questions {
  height: 50px;
  margin: 8px;
  font-weight: 550 ; 
  display: inline-block; 
}

.QA_add_question {
  width: 200px
}
.QA_more_question {
  width: 250px
}

.QA_question_body{
  font-weight: bold;
  font-size: 20px;
}


.QA_helpfulness {
  text-align: right;
}



.inline {
  display: inline;  
}

.QA_warning_text {
  font-size: 10px;
}
  
.QA_popup {
  position: fixed;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: rgb(199, 196, 196);
}

.QA_popup_photo {
  position: fixed;
  left: 20%;
  right: 20%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: rgba(193, 189, 189, 0.139);
}

.QA_full_size_photo {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.QA_search_bar {
  width: 90%;
  height: 40px;
  font-size: 25px;
}

.QA_close {
  float: right;
  font-weight: bold;
  font-size: 20px;
  padding: 0.4em;
  color: black;
  text-decoration: none;
}

.QA_answers_scrolling {
  overflow: scroll;
  max-height: 200px; 
}

.QA_questions_scrolling {
  overflow: scroll;
  max-height: 500px;
}

.QA_thumbnail {
  width: 5em;
  height: 5em;
}

.QA_photos_inline {
  display: inline-block;
  padding: 5px;
} 

 a {
   font-size: 15px;
 }

 .QA_upload_imgthumnail{
   width: 5em;
   height: 5em;
   padding: 5px;
 }
