#Ratings {
  display: flex;
  flex-flow: row;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding: 2em;
}

#RatingsReviews {
  padding: .5em;
}

.ReviewRating {
  justify-content: flex-start;
}

.ReviewerName {
  justify-content: flex-end;
}

.ReviewDate {
  justify-content: flex-end;

}

.ReviewSummary{
  font-weight:bold;
}

.componentTitle {
  user-select: none;
}

.ReviewsList {
  order: 2;
  flex-basis: 70%;
}

#RatingList {
  order: 1;
  flex-basis: 30%;

}