/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

#RelatedProducts {
  display: flex;
  flex-flow: column;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding: .5em;
}

.rp-component-title {
  user-select: none;
}

.rp-card-container {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  justify-content: stretch;
  flex: 1;
  margin: 8px 0;
}

.rp-title {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 4px 0;
  cursor: pointer;
  flex: 2 2;
}

.rp-card {
  display: flex;
  flex-flow: column;
  flex: none;
  align-items: flex-start;
  justify-content: stretch;
  width: 15em;
  height: 20em;
  border: 1px solid #333;
  margin-right: 8px;
  user-select: none;
}

.rp-info {
  display: flex;
  flex-flow: column;
  flex: none;
  justify-content: space-between;
  padding: 6px;
  height: 34%;
}

.rp-price {
  font-size: .8em;
}

.rp-category {
  font-size: .8em;
}

.rp-image-backer {
  background-color: #ddd;
  display: flex;
  flex-flow: row-reverse;
  width: 15em;
  height: 15em;
  position: relative;
  top: 0;
  left: 0;
}

.rp-compare-symbol, .remove-from-outfit-symbol {
  height: 1.3em;
  width: 1.3em;
  font-size: 1.3em;
  font-weight: 800;
  justify-self: right;
  text-align: center;
  align-items: center;
  user-select: none;
  margin: .5em;
  cursor: pointer;
}

.remove-from-outfit-symbol {
  font-size: 2.5em;
  transform: rotate(45deg);
  border-radius: 1.25em;
  /* border: 2px solid; */
  font-weight: 100;
  padding: 0;
  margin: 0;
  /* background-color: #fff5; */
  /* margin: .8em; */
}

.rp-star-rating {
  /* margin: 4px 0; */
  /* align-self: auto; */
  cursor: pointer;
  /* flex-grow: 2; */
}

.rp-card-placeholder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}