/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

#RelatedProducts {
  /* box-sizing: content-box; */
  display: flex;
  flex-flow: column;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding: .5em;
}

.rp-component-title {
  user-select: none;
}

.rp-card-container {
  /* box-sizing: content-box; */
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  justify-content: stretch;
  flex: 1;
  margin: 8px 0;
  min-height: 25em;
}

.rp-title {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 4px 0;
  /* cursor: pointer; */
  flex: 2 2;
}

.rp-card {
  display: flex;
  flex-flow: column;
  flex: none;
  align-items: flex-start;
  justify-content: stretch;
  width: 15em;
  height: 22em;
  border: 1px solid #333;
  margin-right: 8px;
  user-select: none;
}

.rp-info {
  display: flex;
  flex-flow: column;
  flex: none;
  justify-content: space-between;
  padding: 6px;
  height: 6em;
}

.rp-price {
  font-size: .8em;
}

.rp-category {
  font-size: .8em;
}

.rp-image-backer {
  flex-shrink: 0;
  display: inline-flex;
  vertical-align: middle;
  background-color: #ddd;
  width: 15em;
  height: 15em;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.rp-card img {
  margin: auto;
  min-width: 15em;
  min-height: 15em;
  justify-self: center;
}

.rp-compare-symbol, .remove-from-outfit-symbol {
  color: #ffff;
  /* mix-blend-mode: difference; */
  text-shadow: 0 0 2px black;
  position: relative;
  top: -.1em;
  right: 2em;
  height: 1.3em;
  width: 1.3em;
  font-size: 1.3em;
  font-weight: 800;
  justify-self: right;
  text-align: center;
  align-items: center;
  user-select: none;
  margin: .5em;
  cursor: pointer;
}

.remove-from-outfit-symbol {
  font-size: 2.5em;
  right: .8em;
  transform: rotate(45deg);
  border-radius: 1.25em;
  /* border: 2px solid; */
  font-weight: 400;
  padding: 0;
  margin: 0;
  /* background-color: #fff5; */
  /* margin: .8em; */
}

.rp-star-rating {
  /* margin: 4px 0; */
  /* align-self: auto; */
  cursor: default;
  /* flex-grow: 2; */
}

.rp-card-placeholder {
  /* border-color: #0000; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rp-compare-row {
  display: flex;
  flex: 0 0 row nowrap;
  justify-content: space-between;
}

.rp-compare-checkmark {
  color: #296;
  text-shadow: 0 0 2px black;
}