/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

#RelatedProducts {
  display: flex;
  flex-flow: column;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding: .5em;
  overflow: hidden;
  width: 100%;
}

#ProductsCarousel {
  margin-bottom: .5em;
}

.rp-component-title {
  display: flex;
  user-select: none;
  justify-self: left;
}

.rp-carousel-viewport {
  display: flex;
  flex: 0 0 row nowrap;
  min-width: 100%;
  max-width: 100%;
  margin: 8px 0;
  min-height: 22em;
}

.rp-carousel-nav-left, .rp-carousel-nav-right {
  position: absolute;
  align-items: center;
  justify-content: center;
  min-width: 5em;
  min-height: 22em;
  border: 2px solid #0003;
}

.rp-carousel-nav-left {
  left: 0;
  background-image: linear-gradient(0.25turn, #ffff, #fff0);
}

.rp-carousel-nav-right {
  right: 0;
  background-image: linear-gradient(0.25turn, #fff0, #ffff);
}

.rp-card-container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  left: 0;
  overflow: auto;
  justify-content: stretch;
  flex: 1;
}

.rp-title {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 4px 0;
  flex: 2 2;
  min-height: 2.4em;
  overflow: hidden;
}

.rp-card, .rp-card-sticky {
  display: flex;
  flex-flow: column;
  flex: none;
  align-items: flex-start;
  justify-content: stretch;
  width: 15em;
  height: 22em;
  border: 1px solid #333;
  margin-right: 8px;
  user-select: none;
}

.rp-card-sticky {
  background-color: #fffc;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 2;
  position: sticky;
  left: 0;
}

.rp-info {
  display: flex;
  flex-flow: column;
  flex: none;
  justify-content: space-between;
  padding: 6px;
  height: 6em;
}

.rp-price {
  font-size: .8em;
}

.rp-category {
  font-size: .8em;
}

.rp-image-backer {
  flex-shrink: 0;
  display: inline-flex;
  vertical-align: middle;
  background-color: #ddd;
  width: 15em;
  height: 15em;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.rp-card img {
  margin: auto;
  min-width: 15em;
  min-height: 15em;
  justify-self: center;
}

.rp-compare-symbol, .rp-remove-symbol {
  color: #ffff;
  text-shadow: 0 0 2px black;
  position: relative;
  top: -.1em;
  right: 2em;
  height: 1.3em;
  width: 1.3em;
  font-size: 1.3em;
  font-weight: 800;
  justify-self: right;
  text-align: center;
  align-items: center;
  user-select: none;
  margin: .5em;
  cursor: pointer;
}

.rp-remove-symbol {
  font-size: 2.5em;
  right: .8em;
  transform: rotate(45deg);
  border-radius: 1.25em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.rp-compare-exit {
  color: #444;
  position: relative;
  top: -.5em;
  right: -.2em;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-size: 2.5em;
  transform: rotate(45deg);
  font-weight: 300;
}

.rp-star-rating {
  /* margin: 4px 0; */
  /* align-self: auto; */
  cursor: default;
  /* flex-grow: 2; */
}

.rp-card-placeholder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#ProductCompare {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  /* bottom: 10%; */
  align-self: center;
  min-width: 40em;
  min-height: 20%;
  max-width: 180vw;
  max-height: 90vh;
  background: #fffc;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 4px solid #0006;
  overflow: hidden;
  z-index: 21;
}

.rp-compare-title-bar {
  display: flex;
  height: 3.2em;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 1em 1em 0 1em;
  /* position: sticky; */
  top: 0;
}

.rp-invisible-container {
  background-color: #fff0;
  overflow-x: auto;
  overflow-y: scroll;
  position: relative;
  top: 1em;
  padding-bottom: 1em;
}

.rp-compare-row, .rp-compare-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.rp-compare-header {
  height: 1.3em;
  min-height: 1em;
  /* position: sticky; */
  top: 3.2em;
}

.rp-compare-row *, .rp-compare-header * {
  justify-content: center;
  display: flex;
  white-space: nowrap;
  min-width: 15em;
  max-width: 33%;
  padding: .2em;
}

.rp-compare-row:nth-of-type(odd) {
  background-color: #0001;
}

.rp-compare-feature {
  min-width: 10em;
  font-weight: 500;
}

@media all and (max-width: 40em) {
  #ProductCompare {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .rp-card-sticky {
    position: static;
  }
}